/* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0} */

#loading_page {
  width: 200px;
  height: 50px;
  position: absolute;
  top: calc(50% + 50px);
  left: calc(50% + 50px);
  opacity: 0;
  animation: fadeIn 1s 1;
  animation-fill-mode: forwards;
  -webkit-animation: fadeIn 1s 1;
  -webkit-animation-fill-mode: forwards;
}

.wrap {
  animation: translateX 1000ms infinite ease-in-out alternate;
  -webkit-animation: translateX 1000ms infinite ease-in-out alternate;
  position: absolute;
}


#sponsor-fixed-div{
	position: fixed;
	right:4vw;
	bottom:4vw;
	margin-right: 20px;
	z-index: 20000;
}

.btnss{
    line-height: 1.5;
    padding: 1px 5px;
    
}
.sponsorx{
    color: white;
    
    /* min-height: 200px; */
    
    
}

#gal1-3{
    background-color: white;
}

.sponImg:hover{
    opacity: .7;
    
    
}
#abb{
    color: white;
    text-decoration: underline;
}

.s1{
        font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: white;
}

#abbb{
    height: 200px;
    width: 400px;
    margin-left: 10px;}

#sponsor-btn{
	background-color: black;
	width: 80px;
	height: 80px;
	color: white;
	font-family: Lato, sans-serif;
	border: solid black 5px;
	border-radius: 50%;
	font-size: 1.0rem;
	transition: all 0.2s;
	margin-top: 10px;
    text-align: center;
}

#sponsor-btn:hover{
	background-color: white;
	width:120px;
	height: 120px;
	color: black;
	font-family: Lato, sans-serif;
	border: solid black 5px;
	border-radius: 50%;
	font-size: 1.3rem;
}

.sponsBrons{
    height: auto;
    margin-top: 0px;
    color: black;
    
    display: block;
    /* background: linear-gradient(to right, #6f42c1 0%, #FF6C56 60%, #6f42c1 100%); */
    background-color: white;
   font-family: 'Open Sans', sans-serif;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0px;
   
}
#sponsB{
    
    
}




.ball {
  width: 50px;
  height: 50px;
  box-shadow: -6.25px -6.25px 0 rgba(0, 0, 0, 0.1) inset;
  background-color: #397BF9;
  border-radius: 50%;
  animation: translateY 500ms infinite ease-in-out alternate;
  -webkit-animation: translateY 500ms infinite ease-in-out alternate;
}

.wrap:after {
  content: '';
  width: 50px;
  height: 7.5px;
  background: #eee;
  position: absolute;
  bottom: 0;
  top: 70px;
  border-radius: 50%;
  animation: scale 500ms infinite ease-in-out alternate;
  -webkit-animation: scale 500ms infinite ease-in-out alternate;
}

#wrap2,
#ball2,
#wrap2:after {
  animation-delay: -400ms;
  -webkit-animation-delay: -400ms;
}

#wrap3,
#ball3,
#wrap3:after {
  animation-delay: -800ms;
  -webkit-animation-delay: -800ms;
}

#wrap4,
#ball4,
#wrap4:after {
  animation-delay: -1200ms;
  -webkit-animation-delay: -1200ms;
}

#wrap5,
#ball5,
#wrap5:after {
  animation-delay: -1600ms;
  -webkit-animation-delay: -1600ms;
}

#ball2 {
  background-color: #F4B400;
}

#ball3 {
  background-color: #EEEEEE;
}

#ball4 {
  background-color: #00A656;
}

#ball5 {
  background-color: #E3746B;
}

@keyframes translateX {
  100% {
    transform: translateX(-150px);
  }
}
@keyframes translateY {
  100% {
    transform: translateY(-187.5px);
  }
}
@keyframes scale {
  100% {
    transform: scale(0.85);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes translateX {
  100% {
    transform: translateX(-150px);
  }
}
@-webkit-keyframes translateY {
  100% {
    transform: translateY(-187.5px);
  }
}
@-webkit-keyframes scale {
  100% {
    transform: scale(0.85);
  }
}
@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
/*
.broucher_button{
  font-family:  'Aleo' , serif;
  background-color: #f08e1d;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 8px;
  color: white;
}
.broucher_button:hover{
  background-color: white;
  color: black;
  border: 2px solid #d78423;
}*/

.button5 {
  left: 43%;
  position: relative;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button5 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button5 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button5:hover span {
  padding-right: 25px;
}

.button5:hover span:after {
  opacity: 1;
  right: 0;
}
.button5:focus{
    outline: none;
}
@media screen and (max-width: 750px) {
  .button5{
    left: 25%;
  }
}
@media screen and (max-width: 750px) {
  
    .sponstag{
            margin-right: 15%;
           
    text-decoration: none;
    height: 30px;
    width: 80%;
    background-color: #f4511e;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 15px;


    }
    
    .broucher_button{
      margin-left: -10%;
  }
    #bugsee{
        margin-top: 25%;
    }
}
@media screen and (min-width:750px){ 
#Img11{
    margin-left: 17%;
}
    .sponstag{
        margin-right: 5%;
      text-decoration: none;
    height: 30px;
    width: 100%;
    background-color: #f4511e;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 15px;


    }
    .broucher_button{
      margin-left: 0%;
  }
    
}