.sponsorx{
    color: white;
    
    /* min-height: 200px; */
    margin-left: 15%;
    margin-bottom: 50px;

    
}

.sponsorx img {
    width: 100%;
    height: auto;
}

#gallery1-3{
    background-color: white;
}

.sponImg:hover{
    opacity: .7;
    
    
}
#Img36:hover{
 opacity: .7;
}

#Img1{
    height: 150px;
    width: 150px;
    justify-content: center;
}

.s1{
        font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
.sponImg1 img{
    display: block;
  margin-right: auto;
  margin-left: auto;
  width: 180px;
  height: 180px;
}

@media screen and (max-width: 750px) {
    .sponsorx img{
        width: 80%;
     
    }
    }
#Imgx{
    background-color: blue;
    margin-left: 5%;
}
@media screen and (max-width:600px){
    .timeline_image {
        height: 500px;
        background-position:bottom;
        margin-top: -52%;
        margin-bottom: 0px;
    }
}
<!-- changes 25 jan 2019 4pm -->

#container_theme{
    background-color: #fff;
    
}
#theme{
    color: #6f42c1;
}
.themes{
    color: #6f42c1;
    font-size: 25px;
    padding-top: 0px;
}

#container_theme img {
    margin-top: 3%;
    margin-left: 10%;
    width: 80%;
    height: 350px;
    }