{
  font-family: 'Roboto Condensed', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Aleo', serif;
}

h2 {
  font-size: 40px;
  text-align: center;

}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}
    
@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}
.main-area{
  height: auto;
}

.cards{
  background-color: white;
  margin-top: 5%;
  
}
/* card */
.card1 {
	background: white;
  margin-bottom: 2em;
  margin-left: 10px;
}
  .card2 {
    background: white;
    margin-bottom: 2em;
    margin-right: 5px;
  }
    .card3 {
      background: white;
      margin-bottom: 2em;
      margin-right: 10px;
}
/* card */
.card1 a,.card2 a,.card3 a {
	color: black;
	text-decoration: none;
}

.card1 a:hover,.card2 a:hover,.card3 a:hover {
	/* box-shadow: 3px 3px 8px hsl(0, 0%, 70%); */
}

.card-content {
  padding: 1.4em;
  font-family: 'Roboto Condensed', sans-serif;
  color:  #6f42c1;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
  font-weight: normal;
  text-align: center;
}

.card-content p {
  font-size: 18px;
  text-align: center;
}

img{
  margin-top: 3%; 
  margin-left: 10%;
  width: 80%;
  height: 350px;
}
.name{
  font-family: 'Aleo' , serif;
  height: auto;
  font-size: 60px;
  font-weight:bold;
  margin-top: 2%;
  color: white;
  text-align: center;
  background:#d78423;;
}

/* Flexbox styles */
@media screen and (min-width: 40em) {  
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  


  .card1,.card2,.card3 {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    /* width: calc(50% - 1em); */
  }
} /* mq 40em*/

@media screen and (min-width: 60em) {
  .cards {
    margin-top: inherit;
  }

  .card1,.card2,.card3 {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
    /* width: calc(33% - 1em); */
  }
} /* mq 60em*/

