// Scrub

$scrub-color-1: #ffbc59; // Background Main
$scrub-color-2: #b24160; // Button
$scrub-color-3: #6f42c1; // Background Modal
$scrub-color-4: #6f42c1; // Text Main
$scrub-color-5: #ffffff; // Text Modal

$scrub-primary-font: 'PT Sans', sans-serif;
$scrub-secondary-font: 'Sigmar One', serif;
