.faq{
  width : 100%;
  height: auto;
 /* margin-left: 1px;*/
}
mark{
  color: red;
}
.collapsible {
    color:  #6f42c1;
    cursor: pointer;
    padding: 0px 18px;
    width: 35%;
    border-style: none;
    border-left: 8px solid #6f42c1;
    border-radius: 2px;
    text-align: left;
    outline: none;
    font-size: 20px;
    background-color: #FFFFFF;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 3%;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .collapsible:after {
    content: "\002B";
    color:  #6f42c1;
    font-weight: bold;
    float: right;
  }
  
  .container-fluid.active:after {
    content: "\2212";
  }
  
  .content-data {
      max-width: 35%;
    padding: 0 18px;
    margin-left: 3%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
  }
  .container-bot{
    width: 40%;
    right: 0;
    top :0;
    position: absolute;
    float: left;
}
.container-bot img {
  width: 80%;
  height: 416px;
  margin-left: 8%;
}
.faqname{
  height: 100px;
  font-size : 60px;
  margin-top: 2%;
  color: #6f42c1;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
    .container-bot{
      width: 100%;
      position: relative;
      margin-left: 3%;
      float: left;
      
  }
  .container-bot img {
    height: 300px;
  }
  .faq{
      width: 100%;
    }
    .content-data{
      max-width: 100%;
    }
  
    .collapsible {
      width: 100%;
    }}

    @media screen and (max-width: 450px) {
      .faq{
        height: auto;
      }
      .collapsible {
        height: auto;
        width: 100%;
        border-left: none;
        
      }
      .content-data{
        max-width: 100%;
      }

      .container-bot img {
        height: 250px;
      }

    }
    .collapsible:focus {
      outline: none;
  }