#Img1{
    height: 150px;
    width: 150px;
    justify-content: center;
}

.s1{
        font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
.sponImg1 img{
    display: block;
  margin-right: auto;
  margin-left: auto;
  width: 180px;
  height: 180px;
}

@media screen and (max-width: 750px) {
    .sponsorx img{
        width: 80%;
     
    }
    }
#Imgx{
    background-color: blue;
    margin-left: 5%;
}
@media screen and (max-width:600px){
    .timeline_image {
        height: 500px;
        background-position:bottom;
        margin-top: -52%;
        margin-bottom: 0px;
    }
}
<!-- changes 25 jan 2019 4pm -->

#container_theme{
    background-color: #fff;
    
}
#theme{
    color: #6f42c1;
}
